.page-background {
  background-image: url("../assets/landing-page-background.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.info-container {
  background-image: linear-gradient(
    to bottom right,
    rgb(42, 54, 72),
    rgb(61, 184, 206)
  );
  width: 85%;
  min-height: 75%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.info-text {
  max-width: 50%;
  font-size: 20px;
  position: relative;
  left: 0;
}

.project-name {
  font-size: 75px;
  font-style: italic;
}

.button {
  background: #c4d0e2;
  border: 2px solid black;
  color: black;
  font-size: 30px;
  height: 60px;
  min-width: 200px;
  border-radius: 120px;
}

.button:hover {
  background: #5e7fb1;
}

.button-text {
  color: black;
  text-decoration: none;
  margin: 0 2rem 0 2rem;
}
