.menu {
  background-image: linear-gradient(
    to bottom right,
    rgb(42, 54, 72),
    rgb(61, 184, 206)
  );
  padding: 0 !important;
}

.nav-title {
  margin-right: 7rem;
  margin-left: 2rem;
}

.navbar-text {
  font-size: 30px !important;
  color: #5e7fb1;
}

.vd-img {
  width: 45px;
  height: 45px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item:hover {
  color: black;
  border-radius: 10px;
  background-color: rgb(61, 184, 206);
}

.nav-link.active {
  color: black;
  border-radius: 10px;
  background-color: rgb(61, 184, 206);
}
