.menu {
  background-color: #c4d0e2;
  padding: 0!important;
}

.nav-title {
  margin-right: 7rem;
  margin-left: 2rem;
}

.navbar-text {
  color: #5e7fb1;
}

.vd-img {
  width: 45px;
  height: 45px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item:hover {
  color: black;
  background-color: #a4afc0;
}

.nav-link.active {
  color: black;
  background-color: #a4afc0;
}