.resume-page-background {
  background-image: url("../assets/landing-page-background.png");
  background-size: cover;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.resume-timeline-container {
  background-image: linear-gradient(
    to bottom right,
    rgb(42, 54, 72),
    rgb(61, 184, 206)
  );
  width: 85%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
